services:
  backend:
    build: ./backend
    ports:
      - "5001:5000" # CHANGED
    env_file:
      - backend/.env

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
